
.modalmenu {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    gap: 10px;
    width: 100%;
    height: 50px;
    background-color: black;
}

.modalmenu button {
    height: 30px;
    border-radius: 20px;
}

.modalmenu p {
    color: white;
}

.modallink a {
    color: #1D6154;
    text-decoration: none;
}

figure .modallink {
    margin-top: 10px;
    margin-inline-start: 60px;
}

.modalprojet {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.modalprojet .modallink {
    margin-top: 1em;
}

.modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}

.modal-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    max-width: calc(100vw-20px);
    max-height: calc(100vh-20px);
    padding: 40px;
    background-color: white;
    grid-row-gap: 20px;
    border-radius: 20px;

}

.btnmodal {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.btnmodal button{
    border: none;
    background: none;
}


.btnajouterimg {
    font-family: 'Syne';
    font-weight: 700;
    color: white;
    background-color: #1D6154;
    border: none;
    margin: 2em auto;
    width: 180px;
    height: 50px;
    text-align: center;
    border-radius: 60px;
}

.btndeleteAll {
    color: red;
    border: none;
    background: none;
}

.modal-gallery-del {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 10px;
}

.modal-gallery-del figure {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.btnDelete {
    align-self: end;
    position: absolute;
    z-index: 4;
    border: none;
    color: white;
    background-color: black;
}

.modal-gallery-del img {
    width: 100%;
}

.modal-gallery-del figcaption {
    width: 50%;
}

.modal-add {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    max-width: calc(100vw-20px);
    max-height: calc(100vh-20px);
    padding: 40px;
    background-color: white;
    grid-row-gap: 20px;
    border-radius: 20px;
}

.btnposition{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.btnposition button{
    border: none;
    background:none;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-bottom: solid 2px grey;
}

.modal-add input {
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    width: 400px;
    height: 30px;
}

.sectionadd {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: #E8F1F6;
    row-gap: 10px;
    height: 200px;
    width: 420px;
}

.sectionadd i {
    scale: 3;
    color: #B9C5CC;
}

.hidde-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.sectionadd input[type=file] {
    background-color: #B9C5CC;
    border-radius: 50px;
    border: none;
    margin: 2em;
    width: 180px;
    height: 40px;
    text-align: center;
    font-family: 'Syne';
    font-weight: 700;
    display: none;
}
.sectionadd .custom-file-upload{
    background-color: #B9C5CC;
    border-radius: 50px;
    border: none;
    margin: 2em;
    width: 180px;
    padding: 15px;
    text-align: center;
    font-family: 'Syne';
    font-weight: 700;
}

#preview-image{
    width: 100%;
    height: 100%;
}

.btnvalider {
    background-color: #B9C5CC;
    border-radius: 50px;
    border: none;
    margin: 2em;
    width: 180px;
    padding: 20px;
    text-align: center;
    font-family: 'Syne';
    font-weight: 700;
}


.editing-scroll select{
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    width: 400px;
    height: 40px;

}